header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8a03f;
    color: #000000;
    padding: 5px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    margin-top: 0px;
    border: 2px solid #000000;
  }



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.right-section {
  text-align: right;
}


.logo-container {
  width: 100px; /* Define el tamaño fijo que desees */
  height: 80px; /* Define el tamaño fijo que desees */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}

.right-section button {
    font-size: 20px; /* Ajusta el tamaño según tus preferencias */
}

.middle-section{
  font-size: 20px;
}

.right-section{
  font-size: 20px;
}



