<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./iye.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 80px ;">
            <div class="form-header">
                <h2>Egresos </h2>
            </div>
        </div>
        <div class="form-row" style="border-bottom: 2px solid lightgray ; margin-top: 10px;">
            <div style="width: 90%;">
  
            </div>
        </div>
       
   
            <div class="form-group">
                                       
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="filtroEgresos" (keyup)="aplicarFiltroEgresos()">
                    <div class="combo-box-container">
                        <select class="combo-box" [(ngModel)]="filtroSeleccionadoEgresos" (change)="aplicarFiltroEgresos()">
                            <option value="id">ID</option>
                            <option value="category">Categoria</option>

                        </select>
                    </div>


                    <div class="date-filter-container">
                        <input type="date" class="date-input" [(ngModel)]="fechaInicioEgresos" (change)="aplicarFiltroEgresos()">
                        <input type="date" class="date-input" [(ngModel)]="fechaFinEgresos" (change)="aplicarFiltroEgresos()">
                    </div>

                </div>
                
              

                
                <table>
                    <th>ID</th>
                    <th>Escuela</th>
                    <th>Categoria</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Usuario Registrado</th>
                    <th>Archivo Asociado</th>
                    <th>Verificado</th>
                    <th>Estado</th>

                    <th>
                        <button class="btn"  [routerLink]="['/crear-egreso']" style="background-color: #4CAF50; border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                            <i class="fa-solid fa-plus"></i>
                        Registrar Egreso</button>
                    </th>

                    <tbody>
                        <tr *ngFor="let egreso of egresos">
                       <td>{{ egreso.id }}</td>
                       <td>{{ egreso.escuela_nombre }}</td>
                       <td>{{ egreso.category }}</td>
                       <td>{{ egreso.fecha }}</td>
                       <td>{{ egreso.monto }}</td>
                       <td>{{ egreso.user_register }}</td>

                  <td>{{ egreso.archivoLink }}</td>
                  <td>{{ egreso.rol }}</td>
                  <td>{{ egreso.estado }}</td>
    
                       <td>
                        <div style="display: flex; flex-direction: row;">
                            <button mat-button (click)="validarEgreso(egreso.id)" style="background-color: #4CAF50; border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                                <mat-icon>check_circle</mat-icon>
                            </button>

                            <button mat-button (click)="openArchivos(egreso.archivoLink)" style="background-color: #5b6ce9; border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                                <mat-icon>link</mat-icon>
                            </button>
                          
                        </div>
                      </td>

                       </tr>
                   </tbody>
                   
                </table>
            </div>
        </div>
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>
