<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./crear-escuela.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 200px; padding:10px;">
        </div>

        <div class="form-row" style="border-bottom: 2px solid lightgray ; margin-top: 10px;">
            <div style="width: 90%;">
                <h4 >Informacion Basica</h4>
            </div>
        </div>


        <form (ngSubmit)="onSubmit()">
        
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>

             

            <div class="form-row">
                <div class="form-group">
                    <label for="Logo">Logo:</label>
                    <input type="file" id="Logo" name="Logo" (change)="onFileChange($event)">
                </div>
            </div>

 
        <div class="form-row">
            <div class="form-group">
                <label for="clave-label">Clave:</label>
                <input type="text" id="clave" name="clave" [(ngModel)]="usuario.clave" required>
            </div>
            <div class="form-group">
                <label for="last-name-label">Domicilio:</label>
                <input type="text" id="Domicilio" name="Domicilio" [(ngModel)]="usuario.domicilio" required>
            </div>
        </div>
        

        <div class="form-row">
            <div class="form-group">
                <label for="name-label">localidad:</label>
                <input type="text" id="localidad" name="localidad" [(ngModel)]="usuario.localidad" required>
            </div>
            <div class="form-group">
                <label for="last-name-label">Zona:</label>
                <input type="text" id="zona" name="zona" [(ngModel)]="usuario.zona" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="email-label">Sector:</label>
                <input type="text" id="sector" name="sector" [(ngModel)]="usuario.sector" required maxlength="1">
            </div>
            <div class="form-group">
                <label for="pass-label">Telefono:</label>
                <input type="text" id="telefono" name="telefono" [(ngModel)]="usuario.telefono" required>
            </div>
        </div>






        <div class="form-row" style="border-bottom: 2px solid lightgray ; margin-top: 10px;">
            <div style="width: 90%;">
                <h4 >Informacion de la escuela</h4>
            </div>
        </div>
       

        
        <div class="form-row">
            <div class="form-group">
                <label for="name-label">No Familia  :</label>
                <input type="number" id="NoFamilia" name="NoFamilia" [(ngModel)]="extra.NoFamilia" required>
            </div>
            <div class="form-group">
                <label for="last-name-label">Cuota:</label>
                <input type="number" id="Cuota" name="Cuota" [(ngModel)]="extra.Cuota" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="email-label">TTAlumnos:</label>
                <input type="number" id="TTAlumnos" name="TTAlumnos" [(ngModel)]="extra.TTAlumnos" required>
            </div>
            
            <div class="form-group">
                <label for="pass-label">TTGrupos:</label>
                <input type="number" id="TTGrupos" name="TTGrupos" [(ngModel)]="extra.TTGrupos" required>
            </div>
        </div>


        <div class="form-group">
            <label for="turno-label">Turno:</label>
            <select id="turno" [(ngModel)]="extra.Turno" name="turno" required>
              <option value="Matutino">Matutino</option>
              <option value="Vespertino">Vespertino</option>
              <option value="Nocturno">Nocturno</option>
            </select>
          </div>









          <button type="submit" class="send-form">Añadir</button>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>
