<p>documento works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./documento.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 60px ;">
          
        </div>

        <form (ngSubmit)="onSubmit()" class="container" style="padding: 30px;">
            <div class="form-row" style="border-bottom: 2px solid lightgray; margin-top: 10px;">
              <div style="width: 90%;">
                <h4>Informacion Basica</h4>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="Nombre">Nombre del documento:</label>
                    <input type="text" id="Nombre" name="Nombre" [(ngModel)]="documen.doc_name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="Otros">Año de inicio:</label>
                    <input type="text" id="Otros" name="Otros" [(ngModel)]="documen.start_year" required>
                </div>
                <div class="form-group">
                    <label for="Cantidad">Año final:</label>
                    <input type="text" id="Cantidad" name="Cantidad" [(ngModel)]="documen.end_year" required>
                </div>
            </div>

            <button type="submit" class="send-form">Añadir</button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
    </div>
    
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>