<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./crear-egresoarchivo.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 200px; padding:10px;">
          
        </div>


        <form (ngSubmit)="onSubmit()" class="container" style="padding: 30px;">
            <div class="form-row" style="border-bottom: 2px solid lightgray; margin-top: 10px;">
              <div style="width: 90%;">
                <h4>Informacion Basica</h4>
              </div>
        </div>
 

        <div class="form-row">


            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" id="id" name="id" [(ngModel)]="Files.id_expense" required>
            </div>

            <div class="form-group">
                <label for="file">Archivo:</label>
                <input type="text" id="file" name="file" [(ngModel)]="Files.file" required>
            </div>
    
        </div>



        <button type="submit" class="send-form">Añadir</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    </div>
    
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>
