body{
    background-color: white;
    margin: 0;
    color: #252475;
}
.container{
    width: 80%;
    height: fit-content;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
h2{
    font-size: 32px;
    margin: 0;
    text-align: center;

}
h3{
    font-size: 25px;
    margin: 0;
    text-align: center;

}
h4{
    border-bottom: 2px solid #5551ff; 
    font-size: 20px;
    margin: 0; 
    max-width: 30%; 
    text-align: center;
}
.form-header{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.logo{
    margin-right: 20px; 
    width:10%;
}
.icon-span{
    padding: 5px;
    margin-right: 5px;
}
.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-group{
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
input, textarea, select{
    border: 2px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;   
}
table{
    margin-top: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    line-height: normal;
    color: #282828;
    display: block;
    width: auto; /* Cambia '100%' a 'auto' */
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    border-collapse: collapse;
    overflow-x: auto;
}
tr{
    width: 100%;
    max-width: 100%;
    
}
td:nth-child() {
    border-bottom: 3px darkgrey solid;
}
th,td {
    width:max-content;
    text-align: left;
    padding: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
}
th {
    font-weight: normal;
    border-bottom: solid 2px #d8d8d8;
    position: sticky;
    top: 0;
}
td {
    border: solid 1px #d8d8d8;
    border-left: 0;
    border-right: 0;
    word-wrap: break-word;
}

textarea{
    padding: 5px;
}
input:focus, textarea:focus, select:focus{
    border: 4px solid #5551ff;
}
.send-form{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #5551ff;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    margin-bottom: 10px;
}
.send-form:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
.btnlogo{
    width: 20vh;
}

@media screen and (max-width: 768px){
    body{
        background-color: white;
        margin: 0;
    }
    .container{
        width: 100vw;
        height: fit-content;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        margin: 20 auto;
        border-radius: 0;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }
    .form-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-group{
        width: 80%;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }
    label{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    
    }
    input, textarea, select{
        border: 2px solid #000;
        border-radius: 5px;
        height: 50px;
        line-height: normal;
        color: #282828;
        display: block;
        width: 100%;
        box-sizing: border-box;
        user-select: auto;
        font-size: 16px;
        padding: 0 6px;
        padding-left: 12px;   
    }
    h4{
        max-width: fit-content;
    }
    .logo{
        width: 35%;
    }
}