<div class="container" style="margin-top: 200px; padding: 10px;">
    <div class="form-row">
      <div class="form-header">
        <h2>Escuelas</h2>
      </div>
    </div>
  
    <!-- Se mantiene la estructura del HTML anterior para organizar los logos en filas de 4 -->
    <div *ngFor="let row of getLogoRows()" class="form-row" style="margin-top: 10px;">
      <div class="form-group" *ngFor="let logo of row">
        <div (click)="redirectToHome(logo.nombre)">
          <img class="btnlogo" [src]="logo.logo" alt="logo {{ logo.nombre }}">
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group" style="flex-direction: row; justify-content: center;">
        <button class="send-form" [routerLink]="['/crear-escuela']">Añadir escuela</button>
        <button class="send-form" [routerLink]="['/crear-usuarios_supervisor']" style="margin-left: 10px;">Asignar director</button>
      </div>
    </div>
  </div>