<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./categorias.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 80px ;">
            <div class="form-header">
                <h2>Categorias</h2>
            </div>
        </div>
        <div class="form-row" style="border-bottom: 2px solid lightgray ; margin-top: 10px;">
            <div style="width: 90%;">
  
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div >
                    <label for="name-label">Ingresos</label>
                </div>


                              
     
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="filtroIngresos" (keyup)="aplicarFiltroIngresos()">
                        <div class="combo-box-container">
                            <select class="combo-box" [(ngModel)]="filtroSeleccionadoIngresos" (change)="aplicarFiltroIngresos()">
                                <option value="id">ID</option>
                                <option value="nombre">Nombre</option>
    
                            </select>
                        </div>
                    </div> 
          

                <table>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Identificador</th>

                    <th>
                        <button class="btn"  [routerLink]="['/crear-categoriaing']" style="background-color: #4CAF50; border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                            <i class="fa-solid fa-plus"></i>
                        Registrar </button>
                    </th>

                    <tbody>
                        <tr *ngFor="let categoria of categorias">
                       <td>{{ categoria.id }}</td>
                       <td>{{ categoria.nombre }}</td>
                       <td>{{ categoria.identificador }}</td>

                           <td>
     
   
                           <button mat-icon-button (click)="openModificarCategoria(categoria)" class="btn" style="background-color: rgb(223, 223, 26); border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                            <mat-icon>settings</mat-icon>
                        </button>

   
                           </td>
                       </tr>
                   </tbody>
                   
                </table>
            </div>
 
            <div class="form-group">
                <div >
                    <label for="name-label">Egresos</label>
                </div>

                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="filtroEgresos" (keyup)="aplicarFiltroEgresos()">
                        <div class="combo-box-container">
                            <select class="combo-box" [(ngModel)]="filtroSeleccionadoEgresos" (change)="aplicarFiltroEgresos()">
                                <option value="id">ID</option>
                                <option value="nombre">Nombre</option>
    
                            </select>
                        </div>
                    </div>
                
                <table>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Identificador</th>

                    <th>
                        <button class="btn"  [routerLink]="['/crear-categoria']" style="background-color: #4CAF50; border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                            <i class="fa-solid fa-plus"></i>
                        Registrar </button>
                    </th>

                    <tbody>
                        <tr *ngFor="let categoria of categoriasegr">
                       <td>{{ categoria.id }}</td>
                       <td>{{ categoria.nombre }}</td>
                       <td>{{ categoria.identificador }}</td>

                           <td>
                           <button mat-icon-button (click)="openModificarCategoria(categoria)" class="btn" style="background-color: rgb(223, 223, 26); border-radius: 25px; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                            <mat-icon>settings</mat-icon>
                        </button>
                        
                           </td>
                       </tr>
                   </tbody>
                   
                </table>
            </div>
        </div>
        </div>
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>
