<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./crear-egreso.component.css">
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" >
        <div class="form-row" style="margin-top: 200px; padding:10px;">
           
        </div>

        <form (ngSubmit)="onSubmit()" class="container" style="padding: 30px;">
            <div class="form-row" style="border-bottom: 2px solid lightgray; margin-top: 10px;">
                <div style="width: 90%;">
                    <h4>Informacion Basica</h4>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="Nombre">Nombre de la categoria:</label>
                    <select name="" id="Nombre" name="Nombre" [(ngModel)]="egresos.category" required>
                        <option *ngFor="let item of cbegresos" [value]="item.nombre">{{ item.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="Cantidad">Cantidad:</label>
                    <input type="text" id="Cantidad" name="Cantidad" [(ngModel)]="egresos.monto" required>
                </div>
            </div>



            <div class="form-row">
                <div class="form-group">
                    <label for="ARCHIVO">ARCHIVO:</label>
                    <input type="file" id="ARCHIVO" name="ARCHIVO" (change)="onFileSelected($event)">
                </div>
            </div>


            <button type="submit" class="send-form">Añadir</button>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a5b7ce8541.js" crossorigin="anonymous"></script>
</body>
</html>